.container{
  max-width: 1300px;
  margin: auto;
  padding: 0 20px;
}
.banner {
  position: relative;
  height: 484px;
  background-color: #103076;
  color: white;
  background-image: url("../assets/banner.svg");
  background-position: 100% 100%;
  background-repeat: no-repeat;
  margin-top: 97px;
}

.row {
  height: 484px;
  display: flex;
  gap: 15px;
  align-items: center;
}

.banner-content {
  width: 50%;
}

.breadcrumb {
  font-size: 14px;
  font-weight: 500;
}

.navigation a {
  color: white;
  text-decoration: none;
}

.navigation span {
  color: #ccc;
}

.no-underline {
  text-decoration: underline;
}

.page-heading {
  font-size: 48px;
  font-weight: 700;
  margin: 22px 0 20px 0;
}

.page-heading-h2 {
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  word-spacing: 1px;
}

.vacation-section {
  max-width: 660px;
  margin: auto;
}

.static-page {
  margin: 70px 8px;
}
.static-page h2 {
  font-size: 2.5rem;
  color: #103076;
  line-height: 3.125rem;
  font-weight: 700;
  text-align: center;
  padding-bottom: 16px;
}

.static-page-subtitle {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6rem;
  text-align: center;
  padding-top: 16px;
}

.about-steps {
  padding-bottom: 40px;
}
.about-steps .common-container {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.card {
  max-width: 25%;
}

.book-card {
  margin-top: 20px;
}

.arrow {
  max-width: 12.5%;
  position: relative;
  top: 10px;
}

.arrowIcon {
  position: absolute;
  top: 70px;
}

.about-title {
  font-size: 20px;
  color: rgb(1, 53, 115);
  font-weight: 700;
  padding-bottom: 16px;
}

.Vacation-btn {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  margin-top: 24px;
}

.Vacation-btn button {
  border: none;
  outline: none;
  background-color: #00cd92;
  color: rgb(255, 255, 255);
  padding: 13px 25px;
  font-weight: 600;
  font-size: 16px;
  border-radius: 7px;
}

.here-to-help {
  margin: 40px 0;
  display: flex;
  gap: 100px;
  align-items: center;
}
.helping-left {
  width: 50%;
}

.helping-left img {
  max-width: 100%;
  height: auto;
}

.helping-right {
  width: 50%;
}

.help-heading {
  font-size: 40px;
  color: #013573;
  margin: 32px 0;
  font-weight: 700;
  line-height: 50px;
}

.help-block {
  display: flex;
  gap: 15px;
  align-items: start;
  margin-bottom: 40px;
}

.here-to-help-title {
  color: #013573;
  font-size: 20px;
  margin: 0 0 16px 0;
}

.here-to-help-subtitle {
  font-size: 16px;
}

.status-section {
  background-color: #013573;
  color: white;
  font-size: 30px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 40px;
  padding: 70px 0;
}
.status {
  width: 63%;
  margin: auto;
  text-align: center;
}

.status-section .color-accent {
  color: #00cd92;
}

.statusIcon {
  position: absolute;
  bottom: 30px;
  left: 100px;
}

.family-section {
  display: flex;
  gap: 30px;
  align-items: center;
  padding: 70px 0;
}

.family-section-left {
  float: left;
  width: 50%;
}

.family-section-left h2 {
  font-size: 40px;
  line-height: 50px;
  font-weight: 700;
  color: #003573;
  padding-right: 80px;
  margin: 16px 0;
}

.family-section-left p {
  font-size: 16px;
  margin: 10px 0;
  font-weight: 400;
  line-height: 25px;
  width: 82%;
}

.upnext-link {
  text-decoration: underline;
  color: #103076;
}

.family-btn button {
  border: none;
  outline: none;
  background-color: #00cd92;
  color: rgb(255, 255, 255);
  padding: 13px 25px;
  font-weight: 600;
  font-size: 16px;
  border-radius: 7px;
  margin-top: 24px;
}

@media screen and (min-width: 769px) and (max-width: 1279px) {
  .banner {
    height: 334px;
    padding: 0 30px;
    background-position: 100% 100%;
  }
  .row {
    height: 334px;
    display: flex;
    align-items: center;
  }
  .banner-content {
    width: 80%;
  }
  .status {
    width: 85%;
    margin: auto;
    text-align: center;
    font-size: 16px;
  }

  .statusIcon {
    position: absolute;
    bottom: 10px;
    left: 50px;
    width: 70px;
    height: 65px;
  }
}
/* --------- */
@media screen and (min-width: 992px) and (max-width: 1028px) {
  .here-to-help {
    display: flex;
    flex-direction: column;
  }
  .helping-left {
    width: 100%;
  }
  .helping-right {
    width: 100%;
  }
  .help-block {
    display: flex;
  }
  .family-section {
    display: flex;
    flex-direction: column;
  }
  .family-section-left {
    float: left;
    width: 100%;
  }
  .family-section-left p {
    width: 100%;
  }
}

@media screen and (min-width: 769px) and (max-width: 991px) {
  .here-to-help {
    display: flex;
    flex-direction: column;
  }
  .helping-left {
    display: none;
  }
  .helping-right {
    width: 100%;
  }
  .help-block {
    display: flex;
  }
  .family-section {
    display: flex;
    flex-direction: column;
  }
  .family-section-left {
    float: left;
    width: 100%;
  }
  .family-section-left p {
    width: 100%;
  }
  .family-section-right {
    display: none;
  }
}
/* ------------- */

@media screen and (min-width: 481px) and (max-width: 768px) {
  .banner {
    height: 334px;
    padding: 0 30px;
    background-position: 100% 100%;
  }
  .row {
    height: 334px;
    display: flex;
    align-items: center;
  }
  .banner-content {
    width: 90%;
  }

 .page-heading  {
    font-size: 1.625rem;
  }

  .static-page h2 {
    font-size: 1.5rem;
    line-height: 2.2rem;
  }
  .about-steps .common-container {
    display: flex;
    flex-direction: column;
  }
  .card {
    max-width: 100%;
  }
  .arrow {
    display: none;
  }
  .here-to-help {
    display: flex;
    flex-direction: column;
  }
  .helping-left {
    display: none;
  }
  .helping-right {
    width: 100%;
  }
  .help-block {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .here-to-help-title,
  .here-to-help-subtitle {
    text-align: center;
  }
  .here-to-help-title {
    font-size: 16px;
  }
  .status {
    width: 85%;
    margin: auto;
    text-align: center;
    font-size: 16px;
  }

  .statusIcon {
    position: absolute;
    bottom: 10px;
    left: 50px;
    width: 70px;
    height: 65px;
  }
  .family-section {
    display: flex;
    flex-direction: column;
  }
  .family-section-left {
    float: left;
    width: 100%;
  }
  .family-section-left img {
    display: none;
  }
  .family-section-left h2{
    font-size: 24px;
    text-align: center;
    padding-right: 0;
  }
  .family-section-left p {
    width: 100%;
  }
  .family-section-right {
    display: none;
  }
}

@media screen and (min-width: 0) and (max-width: 480px) {
  .banner {
    height: 234px;
    padding: 0 20px;
    background-position: 100% 100%;
  }
  .row {
    height: 234px;
    display: flex;
    align-items: center;
    padding: 0;
  }
  .banner-content {
    width: 100%;
    padding: 0;
  }
  .page-heading {
    font-size: 26px;
    font-weight: 700;
    margin: 22px 0 20px 0;
  }
  .static-page h2 {
    margin-top: 60px;
    font-size: 1.5rem;
    line-height: 2.2rem;
  }

  .about-steps .common-container {
    display: flex;
    flex-direction: column;
  }
  .card {
    max-width: 100%;
  }
  .arrow {
    display: none;
  }
  .here-to-help {
    display: flex;
    flex-direction: column;
  }
  .help-heading {
    font-size: 24px;
  }
  .helping-left {
    display: none;
  }
  .helping-right {
    width: 100%;
  }
  .helping-right img {
    display: none;
  }
  .help-block {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .here-to-help-title,
  .here-to-help-subtitle {
    text-align: center;
  }
  .here-to-help-title {
    font-size: 16px;
  }
  .status-section {
    margin: 20px;
  }

  .status {
    width: 90%;
    margin: auto;
    text-align: center;
    font-size: 16px;
  }

  .statusIcon {
    position: absolute;
    bottom: 10px;
    left: 25px;
    width: 60px;
    height: 55px;
  }
  .family-section {
    display: flex;
    flex-direction: column;
  }

  .family-section-left {
    float: left;
    width: 100%;
  }
  .family-section-left img {
    display: none;
  }
  .family-section-left h2{
    font-size: 24px;
    text-align: center;
    padding-right: 0;
  }
  .family-section-left p {
    width: 100%;
  }
  .family-section-right {
    display: none;
  }
}
