.pres-ab-container {
    max-width: 1320px;
    margin: auto;
    padding: 0 20px;
  }
  
  .pres-ab-banner {
    position: relative;
    height: 484px;
    background-color: #103076;
    color: white;
    background-image: url("../assets/banner.svg");
    background-position: 100% 100%;
    background-repeat: no-repeat;
  }
  
  .pres-ab-row {
    height: 484px;
    display: flex;
    gap: 15px;
    align-items: center;
  }
  
  .pres-ab-banner-content {
    width: 50%;
  }
  
  .pres-ab-breadcrumb {
    font-size: 14px;
    font-weight: 500;
  }
  
  .pres-ab-navigation a {
    color: white;
    text-decoration: none;
  }
  
  .pres-ab-navigation span {
    color: #ccc;
  }
  
  .pres-ab-no-underline {
    text-decoration: underline;
  }
  
  .pres-ab-page-heading {
    font-size: 48px;
    font-weight: 700;
    margin: 22px 0 20px 0;
  }
  
  .pres-ab-page-heading-h2 {
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    word-spacing: 1px;
    padding-right: 20px;
  }
  
  .pres-ab-vacation-section {
    max-width: 660px;
    margin: auto;
  }
  
  .pres-ab-static-page {
    margin: 70px 8px;
  }
  
  .pres-ab-static-page h2 {
    font-size: 2.5rem;
    color: #103076;
    line-height: 3.125rem;
    font-weight: 700;
    text-align: center;
    padding-bottom: 16px;
  }
  
  .pres-ab-static-page-subtitle {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6rem;
    text-align: center;
    padding-top: 16px;
  }
  
  .pres-ab-about-steps {
    padding-bottom: 40px;
  }
  
  .pres-ab-about-steps .pres-ab-common-container {
    display: flex;
    justify-content: space-between;
    text-align: center;
  }
  
  .pres-ab-card {
    max-width: 25%;
  }
  
  .pres-ab-book-card {
    margin-top: 20px;
  }  
  
  .pres-ab-arrow {
    max-width: 12.5%;
    position: relative;
    top: 10px;
  }
  
  .pres-ab-arrowIcon {
    position: absolute;
    top: 70px;
  }
  
  .pres-ab-about-title {
    font-size: 20px;
    color: rgb(1, 53, 115);
    font-weight: 700;
    padding-bottom: 16px;
  }
  
  .pres-ab-Vacation-btn {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    margin-top: 24px;
  }
  
  .pres-ab-Vacation-btn button {
    border: none;
    outline: none;
    background-color: #00cd92;
    color: rgb(255, 255, 255);
    padding: 13px 25px;
    font-weight: 600;
    font-size: 16px;
    border-radius: 7px;
  }
  
  .pres-ab-here-to-help {
    margin: 40px 0;
    display: flex;
    gap: 100px;
    align-items: center;
  }
  
  .pres-ab-helping-left {
    width: 50%;
  }
  
  .pres-ab-helping-left img {
    max-width: 100%;
    height: auto;
  }
  
  .pres-ab-helping-right {
    width: 50%;
  }
  
  .pres-ab-help-heading {
    font-size: 40px;
    color: #013573;
    margin: 32px 0;
    font-weight: 700;
    line-height: 50px;
  }
  
  .pres-ab-help-block {
    display: flex;
    gap: 15px;
    align-items: start;
    margin-bottom: 40px;
  }
  
  .pres-ab-here-to-help-title {
    color: #013573;
    font-size: 20px;
    margin: 0 0 16px 0;
  }
  
  .pres-ab-here-to-help-subtitle {
    font-size: 16px;
  }
  
  .pres-ab-status-section {
    background-color: #013573;
    color: white;
    font-size: 30px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 40px;
    padding: 70px 0;
  }
  
  .pres-ab-status {
    width: 63%;
    margin: auto;
    text-align: center;
  }
  /* --  */
  
  .pres-ab-status-section .pres-ab-color-accent {
    color: #00cd92;
  }
  
  .pres-ab-statusIcon {
    position: absolute;
    bottom: 30px;
    left: 100px;
  }
  
  .pres-ab-family-section {
    display: flex;
    gap: 30px;
    align-items: center;
    padding: 70px 0;
  }
  
  .pres-ab-family-section-left {
    float: left;
    width: 50%;
  }
  
  .pres-ab-family-section-left h2 {
    font-size: 40px;
    line-height: 50px;
    font-weight: 700;
    color: #003573;
    padding-right: 80px;
    margin: 16px 0;
  }
  
  .pres-ab-family-section-left p {
    font-size: 16px;
    margin: 10px 0;
    font-weight: 400;
    line-height: 25px;
    width: 82%;
  }
  
  .pres-ab-upnext-link {
    text-decoration: underline;
    color: #103076;
  }
  
  .pres-ab-family-btn button {
    border: none;
    outline: none;
    background-color: #00cd92;
    color: rgb(255, 255, 255);
    padding: 13px 25px;
    font-weight: 600;
    font-size: 16px;
    border-radius: 7px;
    margin-top: 24px;
  }
  
  
  @media screen and (min-width: 769px) and (max-width: 1279px) {
    .pres-ab-banner {
      height: 334px;
      padding: 0 30px;
      background-position: 100% 100%;
    }
  
    .pres-ab-row {
      height: 334px;
      display: flex;
      align-items: center;
    }
  
    .pres-ab-banner-content {
      width: 80%;
    }
  
    .pres-ab-status {
      width: 85%;
      margin: auto;
      text-align: center;
      font-size: 16px;
    }
  
    .pres-ab-statusIcon {
      position: absolute;
      bottom: 10px;
      left: 50px;
      width: 70px;
      height: 65px;
    }
  }
  
  @media screen and (min-width: 992px) and (max-width: 1028px) {
    .pres-ab-here-to-help {
      display: flex;
      flex-direction: column;
    }
  
    .pres-ab-helping-left {
      width: 100%;
    }
  
    .pres-ab-helping-right {
      width: 100%;
    }
  
    .pres-ab-help-block {
      display: flex;
    }
  
    .pres-ab-family-section {
      display: flex;
      flex-direction: column;
    }
  
    .pres-ab-family-section-left {
      float: left;
      width: 100%;
    }
  
    .pres-ab-family-section-left p {
      width: 100%;
    }
  }
  
  @media screen and (min-width: 769px) and (max-width: 991px) {
    .pres-ab-here-to-help {
      display: flex;
      flex-direction: column;
    }
  
    .pres-ab-helping-left {
      display: none;
    }
  
    .pres-ab-helping-right {
      width: 100%;
    }
  
    .pres-ab-help-block {
      display: flex;
    }
  
    .pres-ab-family-section {
      display: flex;
      flex-direction: column;
    }
  
    .pres-ab-family-section-left {
      float: left;
      width: 100%;
    }
  
    .pres-ab-family-section-left p {
      width: 100%;
    }
  
    .pres-ab-family-section-right {
      display: none;
    }
  }
  
  @media screen and (min-width: 481px) and (max-width: 768px) {
    .pres-ab-banner {
      height: 334px;
      padding: 0 30px;
      background-position: 100% 100%;
    }
  
    .pres-ab-row {
      height: 334px;
      display: flex;
      align-items: center;
    }
  
    .pres-ab-banner-content {
      width: 90%;
    }
  
    .pres-ab-page-heading {
      font-size: 1.625rem;
    }
  
    .pres-ab-static-page h2 {
      font-size: 1.5rem;
      line-height: 2.2rem;
    }
  
    .pres-ab-about-steps .pres-ab-common-container {
      display: flex;
      flex-direction: column;
    }
  
    .pres-ab-card {
      max-width: 100%;
    }
  
    .pres-ab-arrow {
      display: none;
    }
  
    .pres-ab-here-to-help {
      display: flex;
      flex-direction: column;
    }
  
    .pres-ab-helping-left {
      display: none;
    }
  
    .pres-ab-helping-right {
      width: 100%;
    }
  
    .pres-ab-help-block {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .pres-ab-here-to-help-title,
    .pres-ab-here-to-help-subtitle {
      text-align: center;
    }
  
    .pres-ab-here-to-help-title {
      font-size: 16px;
    }
  
    .pres-ab-status {
      width: 85%;
      margin: auto;
      text-align: center;
      font-size: 16px;
    }
  
    .pres-ab-statusIcon {
      position: absolute;
      bottom: 10px;
      left: 50px;
      width: 70px;
      height: 65px;
    }
  
    .pres-ab-family-section {
      display: flex;
      flex-direction: column;
    }
  
    .pres-ab-family-section-left {
      float: left;
      width: 100%;
    }
  
    .pres-ab-family-section-left img {
      display: none;
    }
  
    .pres-ab-family-section-left h2 {
      font-size: 24px;
      text-align: center;
      padding-right: 0;
    }
  
    .pres-ab-family-section-left p {
      width: 100%;
    }
  
    .pres-ab-family-section-right {
      display: none;
    }
  }
  
  @media screen and (min-width: 0) and (max-width: 480px) {
    .pres-ab-banner {
      height: 234px;
      padding: 0 20px;
      background-position: 100% 100%;
    }
  
    .pres-ab-row {
      height: 234px;
      display: flex;
      align-items: center;
      padding: 0;
    }
  
    .pres-ab-banner-content {
      width: 100%;
      padding: 0;
    }
  
    .pres-ab-page-heading {
      font-size: 26px;
      font-weight: 700;
      margin: 22px 0 20px 0;
    }
  
    .pres-ab-static-page h2 {
      margin-top: 60px;
      font-size: 1.5rem;
      line-height: 2.2rem;
    }
  
    .pres-ab-about-steps .pres-ab-common-container {
      display: flex;
      flex-direction: column;
    }
  
    .pres-ab-card {
      max-width: 100%;
    }
  
    .pres-ab-arrow {
      display: none;
    }
  
    .pres-ab-here-to-help {
      display: flex;
      flex-direction: column;
    }
  
    .pres-ab-help-heading {
      font-size: 24px;
    }
  
    .pres-ab-helping-left {
      display: none;
    }
  
    .pres-ab-helping-right {
      width: 100%;
    }
  
    .pres-ab-helping-right img {
      display: none;
    }
  
    .pres-ab-help-block {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .pres-ab-here-to-help-title,
    .pres-ab-here-to-help-subtitle {
      text-align: center;
    }
  
    .pres-ab-here-to-help-title {
      font-size: 16px;
    }
  
    .pres-ab-status-section {
      margin: 20px;
    }
  
    .pres-ab-status {
      width: 90%;
      margin: auto;
      text-align: center;
      font-size: 16px;
    }
  
    .pres-ab-statusIcon {
      position: absolute;
      bottom: 10px;
      left: 25px;
      width: 60px;
      height: 55px;
    }
  
    .pres-ab-family-section {
      display: flex;
      flex-direction: column;
    }
  
    .pres-ab-family-section-left {
      float: left;
      width: 100%;
    }
  
    .pres-ab-family-section-left img {
      display: none;
    }
  
    .pres-ab-family-section-left h2 {
      font-size: 24px;
      text-align: center;
      padding-right: 0;
    }
  
    .pres-ab-family-section-left p {
      width: 100%;
    }
  
    .pres-ab-family-section-right {
      display: none;
    }
  }
  
  